body{
    background-color: azure;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* align-content: center; */
}

.card{
    width: 400px;
    height: 300px;
    padding: 10px;
    background-color: rgb(136, 154, 154);
}

